---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const technologies: { href: string; title: string }[] = [
	{
		href: "https://vuejs.org/",
		title: "Vue.js",
	},
	{
		href: "https://tailwindcss.com/",
		title: "Tailwind CSS",
	},
	{
		href: "https://unocss.dev",
		title: "UnoCSS",
	},
	{
		href: "https://nuxt.com",
		title: "Nuxt",
	},
	{
		href: "https://vueuse.org/",
		title: "VueUse",
	},
	{
		href: "https://vitest.dev/",
		title: "Vitest",
	},
	{
		href: "https://www.typescriptlang.org/",
		title: "TypeScript",
	},
	{
		href: "https://adonisjs.com/",
		title: "AdonisJS",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-4">Hello World!</h1>
		<p class="mb-4">
			This is my development blog, where I write about my learnings when working with new technologies and projects. I work professionally
			as a Frontend Engineer, and love Vue & Tailwind. In my personal time I spend a lot of time at the gym, playing video games, and
			reading.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section aria-label="Personal Projects List" class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<p class="mb-4">I'm always building new things for fun & to keep up with the latest technologies:</p>
		<ul class="flex flex-col gap-2">
			<li class="flex flex-col gap-1">
				<a href="https://stats.cc" target="_blank" class="cactus-link" title="stats.cc">
					<h3>stats.cc</h3>
				</a>
				<p>
					Player Stats site for Rainbow Six: Siege, built with Nuxt & UnoCSS. I own all of the frontend & design code, and have some
					partners who work on the backend.
				</p>
			</li>
			<li class="flex flex-col gap-1">
				<h3 class="underline underline-offset-2">Personal Finance Tracker</h3>
				<p>
					I'm a big advocate of having a deep understanding & control of your finances, so I've been working on a personal finance tracker
					for myself. I've opted to use AdonisJS, Inertia, Typescript, Vue, and TailwindCSS for this. I work fast in Vue, and using Adonisjs
					is strongly opinionated, reducing the number of decisions I'll have to make for the backend.
				</p>
			</li>
		</ul>
	</section>
	<section aria-label="Favorite Technologies List" class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<p class="mb-4">Here are some technologies that I love:</p>
		<ul class="flex flex-wrap gap-4">
			{
				technologies.map(({ href, title }) => (
					<li>
						<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
							{title}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
